:root {
  --gray-blue: rgb(157, 178, 197);
}

.background1 {
  background-image: url("../img/mountain.png");
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: rgb(51, 82, 107);
  background-size: cover;
  position: absolute;
  background-attachment: fixed;
}

.my-name {
  height: 100vh;
  font-size: 70px;
  width: 100%;
  top: 40%;
  position: relative;
  text-align: center;
}

.mjl {
  color: var(--gray-blue);
  text-shadow: 1px 1px 2px white;
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
  vertical-align: middle;
}

.name-font {
  font-size: 65px;
  font-weight: bolder;
  text-transform: uppercase;
}

#about-me {
  height: 100vh;
  width: 100%;
  position: relative;
  text-align: center;
}

.about-header {
  color: var(--gray-blue);
  text-shadow: 1px 1px 2px white;
  font-size: 55px;
  font-weight: bold;
  text-align: center;
  width: 100%;
  position: absolute;
  top: 30%;
  text-transform: uppercase;
}

.about-content {
  color: white;
  font-size: 30px;
  position: absolute;
  width: 100%;
  top: 50%;
}

.project {
  height: 100vh;
  width: 100%;
  position: relative;
}

.project-header {
  text-transform: uppercase;
  color: var(--gray-blue);
  text-shadow: 1px 1px 2px white;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  width: 100%;
  position: absolute;
  top: 5%;
}

.project-box {
  position: absolute;
  width: 100%;
  top: 20%;
}

.carouselp {
  background-color: rgb(87, 113, 137);
  font-weight: bold;
  border-style: none;
  border-width: 15px;
  border-radius: 10px;
}

.carousela {
  background-color: indianred;
  font-weight: bold;
  border-style: solid;
  border-width: 5px;
  border-radius: 20px;
  border-color: indianred;
}

.project-description {
  color: rgb(217, 217, 217);
}

.repo-link {
  color: white;
  height: 10px;
}

.repol {
  height: 10px;
}

.github-link {
  position: fixed;
  top: 70px;
  left: 10px;
  height: 50px;
  width: auto;
}

.intials-link {
  position: fixed;
  top: 10px;
  left: 10px;
  height: 50px;
  width: auto;
}

.email-link {
  position: fixed;
  top: 190px;
  left: 10px;
  height: 50px;
  width: auto;
}

.resume-link {
  position: fixed;
  top: 250px;
  left: 10px;
  height: 50px;
  width: auto;
}
.linkedin-link {
  position: fixed;
  top: 130px;
  left: 10px;
  height: 50px;
  width: auto;
}

hr {
  color: white;
}

.page__scroll {
  text-transform: uppercase;
  position: absolute;
  display: block;
  cursor: pointer;
  left: 0;
  right: 0;
  width: 200px;
  margin: auto;
  bottom: 40px;
  font-size: 20px;
  color: white;
}

.page__scroll .chevron {
  -webkit-animation: pulse 2s infinite;
  margin-top: 20px;
  display: block;
  color: indianred;
}

.chevron.bottom::before {
  top: 0;
  -webkit-transform: rotate(135deg);
}

.chevron::before {
  border-style: solid;
  border-width: 3px 3px 0 0;
  content: "";
  display: inline-block;
  height: 20px;
  position: relative;
  vertical-align: top;
  width: 20px;
  color: indianred;
}

@media screen and (max-width: 510px) {
  .name-font {
    font-size: 40px;
  }

  #about-me {
    height: 80vh;
  }

  .about-header {
    top: 10%;
    font-size: 38px;
  }

  .about-content {
    top: 25%;
    font-size: 20px;
  }

  .project {
    height: 50vh;
  }

  .project-header {
    font-size: 38px;
  }

  .project-box {
    top: 40%;
  }

  .carousel-caption {
    position: unset;
  }
}
